[Unit]
Description = Wifi setup

[Service]
Type = simple
ExecStart = /usr/local/bin/wificonfig
Restart = always
RestartSec = 5

[Install]
WantedBy = sysinit.target
